@model List<Shopping.Models.Entities.Product>
@{
    ViewBag.Title = "Index";
}

<br />

<a class="btn btn-success" href="/Product/Create">Add Product</a> <br /> <br />

<h2>Product List</h2>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Price</th>
        <th>Product Description</th>
    </tr>

    @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Quantity</td>
                    <td>@p.Price</td>
                    <td>@p.Description</td>
                    <td><a class="btn btn-success" href="/Product/Edit/@p.Id">Update</a></td>
                    <td><a class="btn btn-danger"  href="/Product/Delete/@p.Id">Delete</a></td>
                </tr>
            }

</table>